.title {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-block {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.filter-block>div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content {
  min-height: 500px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.action-button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.movie-card {
  width: 200px;
}